
:root {
	/* color variables */
	--gray-900: #1e1e1e;
	--text-default-default: var(--gray-900);
	--gray-500: #757575;
	--text-default-secondary: var(--gray-500);

	/* number variables */
	--scroll-edge-effect-blur-radius: 10px;

	/* responsive margins / paddings */
	--margin-sm: 16px;
	--margin-md: 32px;
}

* {
	--min-screen-size: 430;
	--max-screen-size: 1440;
	--interpolate-diff: calc(var(--max-font-size) - var(--min-font-size));
	--interpolate: clamp(calc(var(--min-font-size) * 1px), calc((var(--min-font-size) * 1px) + var(--interpolate-diff) * ((100vw - calc(var(--min-screen-size) * 1px)) / (var(--max-screen-size) - var(--min-screen-size)))), calc(var(--max-font-size) * 1px));
}

html {
	height: 100%;
	font-size: 16px;
}



/* text utility classes */

.sub-text {
	font-weight: 400;
}

.bold {
	--min-font-size: 35; --max-font-size: 63.79; font-size: var(--interpolate);
	font-family: 'Jost';
	font-weight: 600;
	letter-spacing: 3.79px;
}



/* button hover utility classes */

.hover-bright:hover {
	filter: brightness(1.2);
}


/* popup de barra de sucesso */

#update-popup{
    position: fixed;
    right: 0;
    bottom: 0;
    margin: 50px;
    width: 250px;
    
    background-color: var(--white);
    border: 0.0625rem solid var(--faint-black);
    
    border-radius: 0.5rem;

	z-index: 999;
}

#update-popup img{
    margin-right: 10px;
	z-index: 999;
}

#popup-message-container{
    margin: 10px;
    display: flex;
	z-index: 999;
}

#progress-bar{
    height: 10px;
    width: 50%;
    background-color: var(--black);
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;

	z-index: 999;
}