@import url('/css/variables.css');

body {
    display: flex;
    align-items: center;
    justify-content: center;
}

body {
    background-color: red;
}

.form-wrap {
    background-color: white;
    padding: 2rem;
    border-radius: var(--border-radius-default);
}