body {
	position: relative;
	min-height: 100%;
	display: flex;
	flex-direction: column;
}

/* Parte de cima */
main {
	display: flex;
	flex-direction: column;
	justify-content: center;

	width: 86%; min-height: 100%;
	position: absolute; top: 0; right: 0;
	background-color: rgba(229, 229, 229, 0.8);
}

.long-logo {
	height: 72px; width: 144px;
	margin: 0.6rem 4rem;
}

.divider {
	opacity: 0.15;
	height: 0;
	border-top: 2px solid #333;
	border-radius: 50%;
}

/* Barra lateral */
.sidebar {
	position: absolute;
	top: 0; left: 0;
	width: 14%; min-height: 100%;
	background-color: #fff;
	border-right: 2px solid rgba(51, 51, 51, 0.25);
}

/* Parte dos Cards */
.obs-container {
	display: flex;
	flex-direction: column;
	gap: 1.6rem; padding-block: 1.6rem;
	font-family: 'Inter';
	background-color: #fff;
	margin: 1.5rem 2.5rem;
	border-radius: 14px;
	border: 2px solid rgba(160, 160, 160, 0.5);
}

.header-obs {
	display: flex;
	align-items: center;
	gap: 1.5rem;
	padding-inline: 1.5rem;
} 

.header-title {
	opacity: 0.8;
	width: 60%;
	color: #000;
	font-size: 2rem;
	font-weight: 700;
	text-align: left;
}

.add-observation-button {
	display: flex; align-items: center; justify-content: center;
	padding: 8px;
	background-color: #5d85b4;
	border-radius: 10px;
}

.icon-envelope {
	width: 26px; height: 26px;
}

.search-bar {
	width: 400px;
	display: flex;
	align-items: center;
	border: 2px solid rgba(160, 160, 160, 0.5);
	padding: 0.4rem 0.8rem;
	gap: 1rem;
	font-size: 1.2rem;
	font-weight: 400;
	border-radius: 8px;
}

.icon-search {
	margin-top: 4px;
	width: 19px;
	flex-shrink: 0;
	aspect-ratio: 1 / 1;
}

.cards-container {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	gap: 1.6rem;
	background-color: rgba(229, 229, 229, 0.8);
	padding: 1.4rem;
	margin: 0.4rem 2rem;
	border-radius: 10px;
}

.card {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 0.8rem;
	text-align: left;
	background-color: #fff;
	padding: 1.5rem;
	border-radius: 8px;
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.card-title {
	color: #000;
	font-size: 1.6rem;
	font-weight: 600;
	line-height: 1.2;
	letter-spacing: -0.44px;
}

.card-description {
	margin-top: 1px;
	color: #666;
	font-size: 14.89px;
	font-weight: 400;
	line-height: 1.4;
	letter-spacing: 0px;
}

.card-button {
	box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.25);
	width: 117px;
	display: flex;
	justify-content: center;
	align-self: start;
	color: #fff;
	font-size: 16px;
	font-family: 'Lato';
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	letter-spacing: 0px;
	text-align: center;
	background-color: #5d85b4;
	padding: 8px;
	border-radius: 9.31px;
}

/** breakpoints **/

@media screen and (max-width: 1024px) {
	body {
		padding-inline: 20px;
	}
	.header-title {
		margin-inline: 0;
	}
	.cards-container {
		padding-inline: 20px;
		margin-inline: 0;
	}
	.card {
		padding-inline: 20px;
	}
}

@media screen and (max-width: 576px) {
	body {
		padding-inline: 10px;
	}
}
